
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f4f4f4;
}

.login-container form {
    background: #fff;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 500px;
}

.login-container label {
    margin-bottom: 10px;
    font-weight: bold;
}

.login-container input {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
}
.login-container p{
    margin-top: 20px;
}
.login-container strong{
    color: blue;
    cursor: pointer;
}