.products-img img{
    height: 150px;
    width: 150px;
}
.products-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    padding: 20px;
    flex-wrap: wrap;
}
.products-img{
    padding: 20px;
}
.products-main{
    padding: 10px;
    margin: 20px;
    background-color:white;
    border-radius: 5px;
}
.products-main h1{
    text-transform: uppercase;
}
.products{
    width: 300px;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
   padding: 10px;
}
.products-title{
    white-space: nowrap;  
    overflow: hidden;     
    text-overflow: ellipsis;
    width: 200px;
}
.add-to-cart{
    padding: 5px 20px;
    margin-top: 10px;
}
@media (max-width:768px) {
 .products-container{
    padding: 0;
 }
.products-img img{
    width: 100px;
    height: 100px;
}
.products-img{
    padding: 0;
}
.products-main h1{
    font-size: 1.1rem;
}
.products{
    font-size: 0.8rem;
}
}